openapi: "3.1.0"
info:
  title: Notion Stix Integration
  version: "1.0.0"
  description: "This is the Notion STIX Integration API. It allows you to integrate  threat intelligence data into Notion."
  contact:
    name: Notion STIX Integration
    url: https://www.notion.so
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
security: []
servers:
  - url: https://api.notion.com
    description: Notion API
tags:
  - name: Connect
  - name: Health
paths: 
  /auth/notion/callback:
    get:
      summary: Connect the Notion STIX Integration
      description: Connect the Notion STIX Integration to access your Notion workspace
      operationId: connect 
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
          description: The temporary oauth grant code 
        - name: error
          in: query
          required: false
          schema:
            type: string
          description: The error message
          example: "access_denied"
      tags:
        - Connect
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      example:
        code: 404
        message: Not Found